.control-panel {
  padding: 3rem 4rem;
  overflow: hidden;
}

.control-panel-content {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 2rem;
  border: 0.2rem solid rgba(255, 255, 255, 0.1);
  background: rgb(66, 66, 66);
  padding: 1.6rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  gap: 1.2rem;
  width: 100%;
  height: 8rem;
  margin: 0 auto;
}

.play-button {
  flex: 1;
  min-height: 5.9rem;
  border: 0;
  outline: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background: rgb(61, 197, 91);
  border-radius: 1.2rem;
  font-size: 4rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.299rem 0.3987rem 0;
  transition: all 0.1s;
}

.play-button:hover:not(:disabled) {
  background: rgb(53, 156, 76);
}

.go-button {
  flex: 1 1 0%;
}

.cashout-button {
  background: rgb(253, 207, 75);
  color: rgb(29, 31, 33);
  font-size: 2.3rem;
  text-transform: uppercase;
  border: 0;
  flex: 1 1 0%;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  border-radius: 1.2rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.299rem 0.3987rem 0;
  transition: all 0.1s;
  padding: 1.2rem;
}

.cashout-button:hover:not(:disabled) {
  background: rgb(197, 152, 28);
}

.cashout-button:active {
  transform: translateY(0);
}

.cashout-button:disabled,
.play-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (max-width: 1028px) {
  .control-panel {
    padding: 2rem;
  }
  .control-panel-content {
    padding: 2rem;
  }
}
